*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.box{
    border: 3px solid red;
    border-radius: 10px;
    overflow: hidden;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    margin-top: 50px;
}
.container-left{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.container-right{
    width: 50%;
    height: 100%;
    background-image: url("images/green.jpg");
    background-size: cover;
    background-position: center;
}
.container-left-center{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}
header{
    color: black;
    font-size: larger;
    font-weight: 500;
    
}
.header-desc{
    font-size: 9px;
    margin-top: 5px;
    color: rgb(31, 78, 62);
}
.input-field{
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(59, 117, 98);
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px;
}
.input-label{
    color: rgb(31, 78, 62);
    margin-bottom: 3px;
    font-size: 9px;
    
}
.input{
    outline: none;
    height: 5vh;
    width: 100%;
    border: none;
    margin-left: 3px;
}
i{
    margin: 0 5px;
    color: rgb(59, 117, 98);
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 9px;
    margin-bottom: 15px;
}
.left{
    display: flex;
    align-items: center;
    color: rgb(31, 78, 62);
}
#check{
    margin-right: 5px;
}
.right a{
    text-decoration: none;
    color: rgb(83, 187, 152);
}
.right a:hover{
    color: red;
    transition: .2s;
}
.submit{
    color: whitesmoke;
    background-color: rgb(14, 98, 70);
    border: none;
    border-radius: 10px;
    height: 5vh;
    margin-bottom: 20px;
}
.submit:hover{
    background-color: red;
    color: aliceblue;
    transition: .2s;
}
.footer-desc{
    text-align: center;
    font-size: 9px;
    color: rgb(31, 78, 62);
}
.footer-desc a{
    color: rgb(83, 187, 152);
    text-decoration: none;
}
.footer-desc a:hover{
    color: red;
    transition: .2s;
    
}
@media screen and (max-width: 480px) {
    .container-right{
        display: none;
    }
}